
.home-container{
  height: calc(100vh - 74px);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__inner{
    background-image: url('../../../assets/images/cover-image.jpeg');
    background-size: cover;
    width: 95%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__favorites-current-weather{
    display: flex;
    justify-content: space-between;
  }
}

.favorites-button{
  height: 50px;
  margin: 30px;
  width: 239px;
  background-color: mediumpurple;
}
