<div class="home-container">

  <app-weather-auto-complete (searchResult)="getCitySearchResult($event)"></app-weather-auto-complete>

  <div class="home-container__inner">
    <div class="home-container__favorites-current-weather">
  <app-current-weather [city]="citySubject.asObservable()"></app-current-weather>
    <button class="favorites-button" (click)="addToFavorites()">Add to Favorites</button>
    </div>
    <app-weather-forecast [cityName]="cityName"></app-weather-forecast>
  <app-weather-forecast [city]="citySubject.asObservable()"></app-weather-forecast>
</div>
</div>
