
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px;

  &__title{
    color: lightblue;
    font-weight: bold;
    font-size: 25px;
  }

  &__nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 300px;
    list-style-type: none;
    font-size: 20px;
  }
}
