<nav class="navbar">
  <a class="navbar__title">{{weatherTitle}}</a>
  <ul class="navbar__nav">
    <li class="navbar__nav__item">
      <a class="navbar__nav__link"
         [routerLink]="['/home']"
         routerLinkActive="active">Home</a>
    </li>
    <li class="navbar__nav__item">
      <a class="navbar__nav__link"
         [routerLink]="['/favorites']"
         routerLinkActive="active">Favorites</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
