<!--<div class="currentWeather" *ngIf="locationData">-->
<!--  <p class="currentWeather__temp">{{locationData.name}} {{locationData.main.temp | floor }} &#8451;</p>-->
<!--  <p class="currentWeather__description" *ngIf="isFavorites && locationData.weather">-->
<!--    {{locationData.weather[0].description}}-->
<!--  </p>-->
<!--</div>-->


<div class="currentWeather" *ngIf="locationData">
  <p class="currentWeather__temp">{{city}} {{locationData.main.temp| floor }} &#8451;</p>
  <p class="currentWeather__description" *ngIf="isFavorites && locationData.weather">
    {{locationData.weather[0].description}}
  </p>
</div>

