.currentWeather{
  height: 200px;
  width: 200px;
  border: 1px solid darkcyan;
  background-color: lightsteelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  margin: 25px;


  &__temp{
    font-size: 20px;
  }

  &__desciption{
    font-size: 20px;
  }
}


